footer.row.expanded
    .small-12.column
        em(style='font-size:0.8rem;') © Rafay Tanzeel

script(src='bower_components/what-input/dist/what-input.js')
script(src='bower_components/foundation-sites/dist/js/foundation.js')
script(src='js/app.js')